#QT:hovner{
    color:gold;
}
#PE:hovenr{
    color:gold;
}
#IHP1:hovner{
    color:gold;
}
#IHP2:hovenr{
    color:gold; 
}
#IHP3:hovern{
    color:gold;
}
#IHP4:hovern{
    color:gold;
}
#IHP5:hovern{
    color:gold;
}
#MDP,:hovern{
    color:gold;
}
#QT:link{
    color:royalblue;
}
#PE:link{
    color:royalblue;
}
#IHP1:link{
    color:royalblue;
}
#IHP2:link{
    color:royalblue;
}
#IHP3:link{
    color:royalblue;
}
#IHP4:link{
    color:royalblue;
}
#IHP5:link{
    color:royalblue;
}
#MDP:link{
    color:royalblue;
}
#RET:link{
    color:royalblue;
}
#QT:active{
    color:greenyellow;
}
#PE:active{
    color:greenyellow;
}
#IHP1:active{
    color:greenyellow;
}
#IHP2:active{
    color:greenyellow;
}
#IHP3:active{
    color:greenyellow;
}
#IHP4:active{
    color:greenyellow;
}
#IHP5:active{
    color:greenyellow;
}
#MDP:active{
    color:greenyellow;
}
#RET:active{
    color:greenyellow;
}
#QT:visited{
    color:rgb(255, 0, 255);
}
#PE:visited{
    color:rgb(255, 0, 255);
}
#IHP1:visited{
    color:rgb(255, 0, 255);
}
#IHP2:visited{
    color:rgb(255, 0, 255);
}
#IHP3:visited{
    color:rgb(255, 0, 255);
}
#IHP4:visited{
    color:rgb(255, 0, 255);
}
#IHP5:visited{
    color:rgb(255, 0, 255);
}
#MDP:visited{
    color:rgb(255, 0, 255);
}
#RET:visited{
    color:rgb(255, 0, 255);
}